@import 'tailwindcss';

@theme inline {
  --color-primary: #001f15;
  --color-primary-dark: #00140f;

  --color-header: #06130d;
  --color-footer: #020a07;

  --color-foreground: #ededed;
  --color-foreground-muted: #a0a0a0;

  --color-nav-hover: #244c3a;

  --color-green-accent: #a3c500;
  --color-gold-accent: #e0b84f;
  --color-gold-middle-accent: #f5d98e;
  --color-gold-accent-muted: #7a6228;

  --font-sans: var(--font-inter);
  --font-display: var(--font-playfair);
}

body {
  color: #ededed;
  font-family: var(--font-inter);
}
