@import 'tailwindcss';

@theme inline {
  --color-primary: #031c0d;
  --color-primary-dark: #03150f;
  --color-primary-deep: #020f0b;

  --color-primary-section: #08261b;
  --color-secondary-section: #051a11;

  --color-header: #04110d;
  --color-footer: #020906;

  --color-card-dark: #071711;

  --color-foreground: #e5e7eb;
  --color-foreground-muted: #9ca3af;

  --color-nav-hover: #064e3b;
  --color-green-accent: #b4d333;

  --color-gold-accent: #f3d077;
  --color-gold-middle-accent: #e6c76a;
  --color-gold-accent-muted: #8b6a21;

  --font-sans: var(--font-inter);
  --font-display: var(--font-garamond);
  --font-robo: var(--font-roboto);

  --animate-cursor: cursor 1s step-end infinite;
  --animate-shimmer: shimmer 1.5s ease-in-out infinite;

  @keyframes cursor {
    50% {
      opacity: 0;
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-150%) skewX(-15deg);
    }
    100% {
      transform: translateX(150%) skewX(-15deg);
    }
  }
}

body {
  color: #e5e7eb;
  background:
    radial-gradient(circle at top, rgba(180, 211, 51, 0.03), transparent 35%),
    linear-gradient(to bottom, #02110b, #03150f);
  font-family: var(--font-inter);
}
